:root{
    --main-color: coral;
}

main{
    margin-left: 250px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    padding: 2rem;
    border-radius: 2px;
}

.card-single div span{
    font-size: 3rem;
}

table {
    margin-top: 5rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }